NaCTeM Type Mapper
Copyright 2016 The National Centre for Text Mining, University of Manchester

Licensed under GNU Lesser General Public Release, Version 3.0

This project includes:
#GENERATED_NOTICES#